html {
  height: 100%;
}
body {
  height: 100%;
}
#container {
  background-color: #FEFBEA;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
}
#top {
  border-bottom: 2px black solid;
}
#top #heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen {
  #top #heading {
    flex-direction: row;
  }
}
@media screen and (max-width: 615px) {
  #top #heading {
    flex-direction: column;
  }
}
#top nav .navLink {
  color: #FF7F50;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 10px;
}
li {
  color: green;
}
