li {
  color: green;
}
.article {
  font-size: 15px;
}
.mostPopular {
  font-weight: bolder;
}
.mostPopular::before {
  content: "Most Popular Today: ";
  color: red;
}
ol,
ul {
  padding-left: 10px;
}
ul {
  padding-top: 10px;
}
/* 
Variable scope specifies the place of the available variable. 
The variables will be searched from the local scope and if they are not available, 
then compiler will search from the parent scope.
*/
nav {
  display: flex;
  justify-content: space-evenly;
}
#home {
  background-color: black;
  color: #FEFBEA;
  border-radius: 3px;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 7px 2px 7px;
}
#home:hover,
.navLink:hover {
  color: grey;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#container {
  background-color: #FEFBEA;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.flex {
  display: flex;
  align-items: center;
}
@media screen {
  .flex {
    flex-direction: row;
  }
}
@media screen and (max-width: 615px) {
  .flex {
    flex-direction: column;
  }
}
/*
Nesting
*/
#top {
  border-bottom: 2px black solid;
}
#top #heading {
  display: flex;
  align-items: center;
  justify-content: left;
}
@media screen {
  #top #heading {
    flex-direction: row;
  }
}
@media screen and (max-width: 615px) {
  #top #heading {
    flex-direction: column;
  }
}
#top #heading div {
  padding-left: 10px;
  padding-right: 10px;
}
#top #heading #logo img {
  border: 2px solid;
  border-radius: 50%;
  height: 50px;
}
#bottom {
  background-color: darkgrey;
}
#bottom #disclaimer {
  font-size: 10px;
  font-weight: lighter;
}
